fastapi==0.133.1
uvicorn==0.41.0
pydantic==2.12.5
pydantic-core==2.41.5
starlette==0.52.1
anyio==4.12.1
idna==3.11
h11==0.16.0
click==8.3.1
annotated-types==0.7.0
typing-extensions==4.15.0
typing-inspection==0.4.2
croniter==6.2.2
python-dateutil==2.9.0
six==1.17.0
